<div class="col-12 text-center col-md-6 order-md-4 text-md-start col-lg-3 order-lg-4 text-lg-center">
    <div class="mb-3 fw-medium">Payment methods:</div>

    <div class="row g-2 mb-4">
        <div class="col-3">
            <img class="img-fluid" src="https://www.moramarket.mg/assets/images/payments/visa.svg" width="100%" height="100%" alt="Visa">
        </div>
        <div class="col-3">
            <img class="img-fluid" src="https://www.moramarket.mg/assets/images/payments/mvola.svg" width="100%" height="100%" alt="Mvola">
        </div>
        <div class="col-3">
            <img class="img-fluid" src="https://www.moramarket.mg/assets/images/payments/orange-money.svg" width="100%" height="100%" alt="OrangeMoney">
        </div>
        <div class="col-3">
            <img class="img-fluid" src="https://www.moramarket.mg/assets/images/payments/LogoAirtelMoney.svg" width="100%" height="100%" alt="AirtelMoney">
        </div>
    </div>
</div>