<div class="col-12 text-center col-md-6 order-md-3 text-md-start col-lg-3 order-lg-1">
    <a href="/" class="d-inline-block mb-4" aria-label="Sylius logo"></a>
    <div style="width: 10rem">
        <a href="/" class="d-inline-block mb-4" aria-label="Sylius logo"></a>
        <a href="/" class="site-logo" title="Olona">
            <img src="/build/app/shop/kaki/logo.svg" alt="Olona" width="180">
        </a>
    </div>    
</div>